<!DOCTYPE html>
<html lang="en-us">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title >Tech Blog</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/stylesheet/style.css">

</head>

<body>

  <div class="wrapper">

    <header>
        <nav class="navbar bg-dark">
  <a href="/"><button class="btn bg-success text-dark">Homepage</button></a>
  {{#if loggedIn}}
  <a href="/dashboard"><button class="btn text-dark btn-success">Dashboard</button></a>
  <button id="logout" class="btn text-dark btn-success">Logout</button>
  {{else}}
  <a href="/login"><button class="btn bg-success">Login</button></a>
  {{/if}}
</nav>

</header>

<div class="container">
  <h2 class="text-left">Tech Blog</h2>
</div>
      
    
    <main>
      {{{ body }}}
    </main>

    <footer class="footer bg-dark">
      <h4 class="text-center text-success" id="footer">Thanks for visiting today.</h4>
    </footer>
  </div>

{{#if loggedIn}}
<script src="/javascript/logout.js"></script>
{{/if}}
</body>

</html>