<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>

<form class="login-form">
  <div class="container text-center border border-success bg-light">
  <div class="px-2">
    <label for="username-login" >Username:</label>
    <input type="text" id="username-login"/>
  </div>
  <div class="px-2">
    <label for="password-login">Password:</label>
    <input type="password" id="password-login"/>
  </div>
  <div class="px-2 py-2">
    <button type="submit" class="btn bg-success text-dark">Submit</button>
  </div>
  </div>
</form>
<form class="signup-form text-center">
  <div class="container border border-success bg-light" id="signup-container">
  <div class="px-2">
    <label for="username-signup" >Username:</label>
    <input type="text" id="username-signup" />
  </div>
  <div class="px-2">
    <label for="password-signup">Password:</label>
    <input type="password" id="password-signup">
  </div>
  <div class="py-2 px-2">
    <button class="btn bg-success text-dark" type="submit">Signup</button>
  </div>
  </div>
</form>

<script src="/javascript/login.js"></script>